<!DOCTYPE html>
<html lang="ja" data-page="home">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head data-main-visual-ambient-color="#525252">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
<title data-seamless-page-loader-immediately="metaTitle">Ha Noi Architecture University</title>

<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<meta data-seamless-page-loader-immediately="metaDescription" name="description" content="null"/>
<meta data-seamless-page-loader-immediately="metaOgDescription" property="og:description" content="null"/>

<meta name="twitter:card" content="summary" />

<meta property="og:type" content="website" />
<meta property="og:title" content=""/>
<meta property="og:url" content="index.html" />
<meta property="og:site_name" content=""/>

<link type="text/css" href="/common/styles/index.css" rel="stylesheet" />
<script src="/common/scripts/index.js" async></script>
<link data-seamless-page-loader-overlap="pageStyle" type="text/css" href="/styles/index.css" rel="stylesheet"/>
<link rel="icon" href="/common/images/favicon.ico" />  </head>
  <body
    data-bind-main-visual-loading-state="loading"
    data-bind-navigation-state="shown"
    data-bind-logo-state="shown"
  >
    <div class="ly_siteFrame_header_title">
      <h1 class="bl_homeTitle">
        <div class="bl_homeTitle_title"><br /></div>
        <div class="bl_homeTitle_subTitle"></div>
      </h1>
    </div>
    <div class="ly_loadingAnimation">
      <div
        class="ly_loadingAnimation_item"
        data-bind-lottie-animation="loading"
      ></div>
    </div>
    <div class="ly_backgroundCanvas" data-bind-main-visual-canvas-root></div>
    <div class="ly_siteFrame">
            <header class="ly_siteFrame_header">
  <div class="ly_siteFrame_header_logo">
    <a class="bl_globalHeaderLogo" onclick="window.location.href='/index'">
      <img
        src="common/images/logo.png"
        width="168"
        height="46"
        class="bl_globalHeaderLogo_img"
        alt="HANOI ARCHITECTURE UNIVERSITY"
      />
    </a>
  </div>
  <nav class="ly_siteFrame_header_navigation">
    <ul class="ly_globalHeaderNavi">
      <li class="ly_globalHeaderNavi_item" data-main-visual-access-point="reduce">
        <a class="bl_globalHeaderNaviItem" onclick="window.location.href='/navy'" data-main-visual-access-point-mouse-over-event>
          <div class="bl_globalHeaderNaviItem_icon ">
            <div class="bl_globalHeaderNaviItem_icon_waves "></div>
            <div class="bl_globalHeaderNaviItem_icon_img "></div>
          </div>
          <div class="bl_globalHeaderNaviItem_text ">H BUILDING</div>
          <div class="bl_globalHeaderNaviItem_japanese "></div>
        </a>
      </li>
      <li class="ly_globalHeaderNavi_item" data-main-visual-access-point="calculate">
        <a class="bl_globalHeaderNaviItem" onclick="window.location.href='/pink'" data-main-visual-access-point-mouse-over-event>
          <div class="bl_globalHeaderNaviItem_icon">
            <div class="bl_globalHeaderNaviItem_icon_waves"></div>
            <div class="bl_globalHeaderNaviItem_icon_img"></div>
          </div>
          <div class="bl_globalHeaderNaviItem_text">ART GALLERY</div>
          <div class="bl_globalHeaderNaviItem_japanese"></div>
        </a>
      </li>
      <li class="ly_globalHeaderNavi_item" data-main-visual-access-point="offset">
        <a class="bl_globalHeaderNaviItem" onclick="window.location.href='/turquoise'" data-main-visual-access-point-mouse-over-event>
          <div class="bl_globalHeaderNaviItem_icon">
            <div class="bl_globalHeaderNaviItem_icon_waves"></div>
            <div class="bl_globalHeaderNaviItem_icon_img"></div>
          </div>
          <div class="bl_globalHeaderNaviItem_text">I BUILDING</div>
          <div class="bl_globalHeaderNaviItem_japanese"></div>
        </a>
      </li>
      <li class="ly_globalHeaderNavi_item" data-main-visual-access-point="contribute">
        <a class="bl_globalHeaderNaviItem" onclick="window.location.href='/black'" data-main-visual-access-point-mouse-over-event>
          <div class="bl_globalHeaderNaviItem_icon">
            <div class="bl_globalHeaderNaviItem_icon_waves"></div>
            <div class="bl_globalHeaderNaviItem_icon_img"></div>
          </div>
          <div class="bl_globalHeaderNaviItem_text">M BUILDING</div>
          <div class="bl_globalHeaderNaviItem_japanese"></div>
        </a>
      </li>
      <li class="ly_globalHeaderNavi_item" data-main-visual-access-point="personal">
        <a class="bl_globalHeaderNaviItem" onclick="window.location.href='/orange'" data-main-visual-access-point-mouse-over-event>
          <div class="bl_globalHeaderNaviItem_icon">
            <div class="bl_globalHeaderNaviItem_icon_waves"></div>
            <div class="bl_globalHeaderNaviItem_icon_img"></div>
          </div>
          <div class="bl_globalHeaderNaviItem_text">I&A BUILDING</div>
          <div class="bl_globalHeaderNaviItem_japanese"></div>
        </a>
      </li>
    </ul>
  </nav>

    <ul class="ly_siteFrame_header_banners">
    <li class="bl_globalHeaderNaviItemBanner" data-main-visual-banner="reduce">
      <a target="_blank" href="/navy">
        <img
          class="bl_globalHeaderNaviItemBanner_img"
          alt=""
          src="common/images/banner-reduce.jpg"
        />
      </a>
    </li>
    <li class="bl_globalHeaderNaviItemBanner" data-main-visual-banner="calculate">
      <a target="_blank" href="/pink">
        <img
          class="bl_globalHeaderNaviItemBanner_img"
          alt=""
          src="common/images/banner-calculate.jpg"
        /></a>
    </li>
    <li class="bl_globalHeaderNaviItemBanner" data-main-visual-banner="offset">
      <a target="_blank" href="/turquoise">
        <img
          class="bl_globalHeaderNaviItemBanner_img"
          alt=""
          src="common/images/banner-offset.jpg"
        /></a>
    </li>
    <li class="bl_globalHeaderNaviItemBanner" data-main-visual-banner="contribute">
      <a target="_blank" href="/black">
        <img
          class="bl_globalHeaderNaviItemBanner_img"
          alt=""
          src="common/images/banner-contribute.jpg"
        /></a>
    </li>
    <li class="bl_globalHeaderNaviItemBanner" data-main-visual-banner="personal">
      <a target="_blank" href="/orange">
        <img
          class="bl_globalHeaderNaviItemBanner_img"
          alt=""
          src="common/images/banner-personal.jpg"
        /></a>
    </li>
  </ul>
  <div class="ly_siteFrame_header_help">
    <input type="radio" name="help" id="help-open" class="el_siteHelpInput" />
    <input type="radio" name="help" id="help-slide1" class="el_siteHelpInput" />
    <input type="radio" name="help" id="help-close" class="el_siteHelpInput" />
    <div class="ly_siteHelp">
      <div class="ly_siteHelp_openCloseButton">
        <label class="bl_openCloseButton" for="help-open">?</label>
      </div>
      <div class="ly_siteHelp_backControls">
        <label class="bl_helpBackButton" for="help-close">
          <svg
            class="bl_helpBackButton_arrow"
            width="19"
            height="15"
            viewBox="0 0 19 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="bl_helpBackButton_arrow_path"
              d="M7.75858 13.4617L1.92495 7.62808M1.92495 7.62808L7.75858 1.79444M1.92495 7.62808L17.4813 7.62808"
              stroke="#BDC0C6"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="bl_helpBackButton_text">BACK</span>
        </label>
      </div>
      <div class="ly_siteHelp_contents">
        <div class="ly_siteHelpContents">
          <div class="ly_siteHelpContents_grid">
            <section class="ly_siteHelpContents_grid_item">
              <picture class="ly_siteHelpContents_image" data-help-contents="1-1">
                <source media="(mxn-width: 752px)" srcset="/common/images/help01_sp.jpg"/>
                <img
                  src="common/images/help01.jpg"
                  class="bl_siteHelpImage"
                  alt=""
                  width="1200"
                  height="560"
                />
              </picture>
              <div class="ly_siteHelpContents_title" data-help-contents="1-2">
                <h2 class="bl_siteHelpTitle">Bản đồ 3D mô phỏng</h2>
              </div>
              <div class="ly_siteHelpContents_description" data-help-contents="1-3">
                <div class="bl_siteHelpDescription">
                  Bản đồ này giúp người theo dõi có cái nhìn tổng quan hơn <br />
                  về vị trí của các tòa nhà trong khuôn viên trường.
                </div>
              </div>
              <div class="ly_siteHelpContents_button" data-help-contents="1-4">
                <label class="el_siteHelpButton" for="help-slide1">
                  <span class="el_siteHelpButton_text">Next</span>
                </label>
              </div>
            </section>
            <section class="ly_siteHelpContents_grid_item">
              <picture class="ly_siteHelpContents_image" data-help-contents="2-1">
                <source media="(mxn-width: 752px)" srcset="/common/images/help02_sp.jpg"/>
                <img
                  src="common/images/help02.jpg"
                  class="bl_siteHelpImage"
                  alt=""
                  width="1200"
                  height="560"
                />
              </picture>
              <div class="ly_siteHelpContents_title" data-help-contents="2-2">
                <h2 class="bl_siteHelpTitle">Hướng dẫn</h2>
              </div>
              <div class="ly_siteHelpContents_description" data-help-contents="2-3">
                <div class="bl_siteHelpDescription">
                  Các tòa nhà được chia thành 5 concept màu khác nhau<br />
                  Nhấn vào từng nút để điều hướng tới trang thông tin từng tòa
                </div>
              </div>
              <div class="ly_siteHelpContents_button" data-help-contents="2-4">
                <label class="el_siteHelpButton" for="help-close">
                  <span class="el_siteHelpButton_text">Go</span>
                </label>
              </div>
            </section>
          </div>
        </div>
        <div class="ly_siteHelpContents_pager">
          <div class="bl_siteHelpPager">
            <div class="bl_siteHelpPager_item" data-help-pager="1"></div>
            <div class="bl_siteHelpPager_item" data-help-pager="2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>      <main class="ly_siteFrame_main" data-seamless-page-loader-overlap="main"></main>
    </div>
  </body>


</html>
