<!doctype html>
<html lang="ja">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ2ZSEPHTH"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-TZ2ZSEPHTH');</script>
    <title>Ha Noi Architecture University</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="twitter:card" content="summary_large_image">
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <link rel="stylesheet" href="///use.typekit.net/typ1vyu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;display=swap" rel="stylesheet">
    <style>
        body {
            opacity: 0;
        }
    </style>
</head>

<body>
    <div id="loading">
        <ul class="left">
            <li class="op11">
                <picture>
                    <source
                        srcset="/assets/img/common/1x/op11.webp, /assets/img/common/2x/op11@2x.webp 2x"
                        type="image/webp"><img src="/assets/img/common/1x/op11.jpg"
                        srcset="/assets/img/common/1x/op11.jpg, /assets/img/common/2x/op11@2x.jpg 2x"
                        alt="">
                </picture>
            </li>
            <li class="op10">
                <picture>
                    <source
                        srcset="/assets/img/common/1x/op10.webp, /assets/img/common/2x/op10@2x.webp 2x"
                        type="image/webp"><img src="/assets/img/common/1x/op10.jpg"
                        srcset="/assets/img/common/1x/op10.jpg, /assets/img/common/2x/op10@2x.jpg 2x"
                        alt="">
                </picture>
            </li>
            <li class="op09">
                <picture>
                    <source
                        srcset="/assets/img/common/1x/op09.webp, /assets/img/common/2x/op09@2x.webp 2x"
                        type="image/webp"><img src="/assets/img/common/1x/op09.jpg"
                        srcset="/assets/img/common/1x/op09.jpg, /assets/img/common/2x/op09@2x.jpg 2x"
                        alt="">
                </picture>
            </li>
            <li class="op08">
                <picture>
                    <source
                        srcset="/assets/img/common/1x/op08.webp, /assets/img/common/2x/op08@2x.webp 2x"
                        type="image/webp"><img src="/assets/img/common/1x/op08.jpg"
                        srcset="/assets/img/common/1x/op08.jpg, /assets/img/common/2x/op08@2x.jpg 2x"
                        alt="">
                </picture>
            </li>
            <li class="op07">
                <picture>
                    <source
                        srcset="/assets/img/common/1x/op07.webp, /assets/img/common/2x/op07@2x.webp 2x"
                        type="image/webp"><img src="/assets/img/common/1x/op07.jpg"
                        srcset="/assets/img/common/1x/op07.jpg, /assets/img/common/2x/op07@2x.jpg 2x"
                        alt="">
                </picture>
            </li>
        </ul>
        <div class="right">
            <picture>
                <source
                    srcset="/assets/img/common/1x/op_main.webp, /assets/img/common/2x/op_main@2x.webp 2x"
                    type="image/webp"><img src="/assets/img/common/1x/op_main.jpg"
                    srcset="/assets/img/common/1x/op_main.jpg, /assets/img/common/2x/op_main@2x.jpg 2x"
                    alt="">
            </picture>
            <div class="masks">
                <div class="mask"></div>
                <div class="mask"></div>
                <div class="mask"></div>
                <div class="mask"></div>
                <div class="mask"></div>
            </div>
        </div>
        <div class="logo"><a class="no-barba" href="/index"></a></div>
        <div class="text"><span class="item">B</span><span class="item">L</span><span class="item">A</span><span
                class="item">N</span><span class="item">K</span><span class="item"> </span><span
                class="item">P</span><span class="item">A</span><span class="item">P</span><span
                class="item">E</span><span class="item">R</span><span class="item"> </span><span
                class="item">T</span><span class="item">O</span><span class="item"> </span><span
                class="item">B</span><span class="item">L</span><span class="item">A</span><span
                class="item">C</span><span class="item">K</span><br><span class="item">D</span><span
                class="item">E</span><span class="item">E</span><span class="item">P</span><span class="item">
            </span><span class="item">N</span><span class="item">A</span><span class="item">V</span><span
                class="item">Y</span><br><span class="item">B</span><span class="item">E</span><span
                class="item">A</span><span class="item">R</span><span class="item"> </span><span
                class="item">O</span><span class="item">R</span><span class="item">A</span><span
                class="item">N</span><span class="item">G</span><span class="item">E</span><br><span
                class="item">K</span><span class="item">E</span><span class="item">E</span><span
                class="item">P</span><span class="item"> </span><span class="item">T</span><span
                class="item">U</span><span class="item">R</span><span class="item">Q</span><span
                class="item">U</span><span class="item">O</span><span class="item">I</span><span
                class="item">S</span><span class="item">E</span><span class="item"> </span><span
                class="item">S</span><span class="item">E</span><span class="item">A</span><br><span
                class="item">I</span><span class="item">N</span><span class="item"> </span><span
                class="item">P</span><span class="item">I</span><span class="item">N</span><span
                class="item">K</span><span class="item"> </span><span class="item">F</span><span
                class="item">L</span><span class="item">O</span><span class="item">W</span><span
                class="item">E</span><span class="item">R</span></div>
        <h1><span class="chunk chunk1"><span class="chunk_child"><span class="item">W</span><span
            class="item">E</span><span class="item">L</span><span class="item">C</span><span
            class="item">O</span><span class="item">M</span><span class="item">E</span></span></span><span
    class="space"></span><span class="chunk chunk2"><span class="chunk_child"><span
            class="item">T</span><span class="item">O</span><span class="item"></span><span
            class="item"></span></span></span><br><span class="chunk chunk3"><span
        class="chunk_child"><span class="item">O</span><span class="item">U</span><span
            class="item">R</span></span></span><span class="space"></span><span class="chunk chunk4"><span
        class="chunk_child"><span class="item">C</span><span class="item">O</span><span
            class="item">L</span><span class="item">O</span><span class="item">R</span><span
            class="item">F</span><span class="item">U</span><span
            class="item">L</span></span></span><br><span class="chunk chunk5"><span
        class="chunk_child"><span class="item">UNIVERSITY</span><span class="item">.</span></span></span></h1>
        <div class="text_bottom">Campus tour by HAU</div>
        <div class="per">100%</div>
    </div>
    <div id="hero">
        <div class="color_bar">
            <div class="bar_child color_about"></div>
            <div class="bar_child color11"></div>
            <div class="bar_child color10"></div>
            <div class="bar_child color09"></div>
            <div class="bar_child color08"></div>
            <div class="bar_child color07 current"></div>
        </div>
        <ul class="floor_list floor_list_dot">
            <li><span class="tit"><span class="chunk chunk1"><span class="chunk_child"><span class="item">A</span><span
                                class="item">B</span><span class="item">O</span><span class="item">U</span><span
                                class="item">T</span></span></span></span></li>
            <li><span class="sub_tit">11F</span><span class="tit"><span class="chunk chunk1"><span
                            class="chunk_child"><span class="item">B</span><span class="item">L</span><span
                                class="item">A</span><span class="item">N</span><span
                                class="item">K</span></span></span><span class="space"></span><span
                        class="chunk chunk2"><span class="chunk_child"><span class="item">P</span><span
                                class="item">A</span><span class="item">P</span><span class="item">E</span><span
                                class="item">R</span></span></span><br><span class="chunk chunk3"><span
                            class="chunk_child"><span class="item">T</span><span
                                class="item">O</span></span></span><span class="space"></span><span
                        class="chunk chunk4"><span class="chunk_child"><span class="item">B</span><span
                                class="item">L</span><span class="item">A</span><span class="item">C</span><span
                                class="item">K</span></span></span></span></li>
            <li><span class="sub_tit">10F</span><span class="tit"><span class="chunk chunk1"><span
                            class="chunk_child"><span class="item">D</span><span class="item">E</span><span
                                class="item">E</span><span class="item">P</span></span></span><span
                        class="space"></span><span class="chunk chunk2"><span class="chunk_child"><span
                                class="item">N</span><span class="item">A</span><span class="item">V</span><span
                                class="item">Y</span></span></span></span></li>
            <li><span class="sub_tit">1L</span><span class="tit"><span class="chunk chunk1"><span
                            class="chunk_child"><span class="item">INTERIOR & APPLIED ART</span></span></span></span></li>
            <li><span class="sub_tit">8F</span><span class="tit"><span class="chunk chunk1"><span
                            class="chunk_child"><span class="item">K</span><span class="item">E</span><span
                                class="item">E</span><span class="item">P</span></span></span><br class="sp"><span
                        class="space pc"></span><span class="chunk chunk2"><span class="chunk_child"><span
                                class="item">T</span><span class="item">U</span><span class="item">R</span><span
                                class="item">Q</span><span class="item">U</span><span class="item">O</span><span
                                class="item">I</span><span class="item">S</span><span
                                class="item">E</span></span></span><span class="space"></span><span
                        class="chunk chunk3"><span class="chunk_child"><span class="item">S</span><span
                                class="item">E</span><span class="item">A</span></span></span></span></li>
            <li><span class="sub_tit">7F</span><span class="tit"><span class="chunk chunk1"><span
                            class="chunk_child"><span class="item">I</span><span
                                class="item">N</span></span></span><span class="space"></span><span
                        class="chunk chunk2"><span class="chunk_child"><span class="item">P</span><span
                                class="item">I</span><span class="item">N</span><span
                                class="item">K</span></span></span><span class="space"></span><span
                        class="chunk chunk3"><span class="chunk_child"><span class="item">F</span><span
                                class="item">L</span><span class="item">O</span><span class="item">W</span><span
                                class="item">E</span><span class="item">R</span></span></span></span></li>
        </ul>
        <div class="bg"><img class="img1 current" src="/assets/img/common/kv/pink_kv.webp" alt=""><img class="img2"
                src="/assets/img/common/kv/turquoise_kv.webp" alt=""><img class="img3"
                src="/assets/img/common/kv/orange_kv.webp" alt=""><img class="img4"
                src="/assets/img/common/kv/navy_kv.webp" alt=""><img class="img5"
                src="/assets/img/common/kv/black_kv.webp" alt=""><img class="img6"
                src="/assets/img/common/kv/about_kv.webp" alt="">
            <div class="screen"></div>
            <div class="multiply"></div>
            <ul class="floor_list">
                <li><span class="tit"><span class="chunk chunk1"><span class="chunk_child"><span
                                    class="item">A</span><span class="item">B</span><span class="item">O</span><span
                                    class="item">U</span><span class="item">T</span></span></span></span></li>
                <li><span class="sub_tit">11F</span><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">B</span><span class="item">L</span><span
                                    class="item">A</span><span class="item">N</span><span
                                    class="item">K</span></span></span><span class="space"></span><span
                            class="chunk chunk2"><span class="chunk_child"><span class="item">P</span><span
                                    class="item">A</span><span class="item">P</span><span class="item">E</span><span
                                    class="item">R</span></span></span><br><span class="chunk chunk3"><span
                                class="chunk_child"><span class="item">T</span><span
                                    class="item">O</span></span></span><span class="space"></span><span
                            class="chunk chunk4"><span class="chunk_child"><span class="item">B</span><span
                                    class="item">L</span><span class="item">A</span><span class="item">C</span><span
                                    class="item">K</span></span></span></span></li>
                <li><span class="sub_tit">10F</span><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">D</span><span class="item">E</span><span
                                    class="item">E</span><span class="item">P</span></span></span><span
                            class="space"></span><span class="chunk chunk2"><span class="chunk_child"><span
                                    class="item">N</span><span class="item">A</span><span class="item">V</span><span
                                    class="item">Y</span></span></span></span></li>
                <li><span class="sub_tit">1L</span><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">INTERIOR & APPLIED ART</span></span></span></span></li>
                <li><span class="sub_tit">8F</span><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">K</span><span class="item">E</span><span
                                    class="item">E</span><span class="item">P</span></span></span><br class="sp"><span
                            class="space pc"></span><span class="chunk chunk2"><span class="chunk_child"><span
                                    class="item">T</span><span class="item">U</span><span class="item">R</span><span
                                    class="item">Q</span><span class="item">U</span><span class="item">O</span><span
                                    class="item">I</span><span class="item">S</span><span
                                    class="item">E</span></span></span><span class="space"></span><span
                            class="chunk chunk3"><span class="chunk_child"><span class="item">S</span><span
                                    class="item">E</span><span class="item">A</span></span></span></span></li>
                <li><span class="sub_tit">7F</span><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">I</span><span
                                    class="item">N</span></span></span><span class="space"></span><span
                            class="chunk chunk2"><span class="chunk_child"><span class="item">P</span><span
                                    class="item">I</span><span class="item">N</span><span
                                    class="item">K</span></span></span><span class="space"></span><span
                            class="chunk chunk3"><span class="chunk_child"><span class="item">F</span><span
                                    class="item">L</span><span class="item">O</span><span class="item">W</span><span
                                    class="item">E</span><span class="item">R</span></span></span></span></li>
            </ul>
        </div>
        <h2><span class="tit"><span class="item">W</span><span class="item">E</span><span class="item">L</span><span
            class="item">C</span><span class="item">O</span><span class="item">M</span><span
            class="item">E</span><span class="item"> </span><span class="item">T</span><span
            class="item">O</span><span class="item"></span><span class="item"></span><br><span
            class="item">O</span><span class="item">U</span><span class="item">R</span><span class="item">
        </span><span class="item">C</span><span class="item">O</span><span class="item">L</span><span
            class="item">O</span><span class="item">R</span><span class="item">F</span><span
            class="item">U</span><span class="item">L</span><span class="item"> </span><span
            class="item">UNIVERSITY</span><span class="item">.</span></span><span class="sub_tit"><span
                class="item">C</span><span class="item">a</span><span class="item">m</span><span class="item">p</span><span class="item">u</span><span class="item">s</span><span class="item">
                </span><span
                class="item">t</span><span class="item">o</span><span class="item">u</span><span class="item">r</span><span class="item">
                </span><span class="item">b</span><span class="item">y</span><span class="item">
                </span><span
                class="item">H</span><span class="item">A</span><span class="item">U</span><span
                class="item">.</span></h2>
        <div class="logo"><a class="no-barba" href="/index"></a></div>
        <div class="canvas_container">
            <div class="more_detail">More Details</div>
        </div>
        <ul class="floor_list floor_list_current">
            <li><a href="/about"><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">A</span><span class="item">B</span><span
                                    class="item">O</span><span class="item">U</span><span
                                    class="item">T</span></span></span></span></a></li>
            <li><a href="/black"><span class="sub_tit">11F</span><span class="tit"><span
                            class="chunk chunk1"><span class="chunk_child"><span class="item">B</span><span
                                    class="item">L</span><span class="item">A</span><span class="item">N</span><span
                                    class="item">K</span></span></span><span class="space"></span><span
                            class="chunk chunk2"><span class="chunk_child"><span class="item">P</span><span
                                    class="item">A</span><span class="item">P</span><span class="item">E</span><span
                                    class="item">R</span></span></span><br><span class="chunk chunk3"><span
                                class="chunk_child"><span class="item">T</span><span
                                    class="item">O</span></span></span><span class="space"></span><span
                            class="chunk chunk4"><span class="chunk_child"><span class="item">B</span><span
                                    class="item">L</span><span class="item">A</span><span class="item">C</span><span
                                    class="item">K</span></span></span></span></a></li>
            <li><a href="/navy"><span class="sub_tit">10F</span><span class="tit"><span
                            class="chunk chunk1"><span class="chunk_child"><span class="item">D</span><span
                                    class="item">E</span><span class="item">E</span><span
                                    class="item">P</span></span></span><span class="space"></span><span
                            class="chunk chunk2"><span class="chunk_child"><span class="item">N</span><span
                                    class="item">A</span><span class="item">V</span><span
                                    class="item">Y</span></span></span></span></a></li>
            <li><a href="/index"><span class="sub_tit">1L</span><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">INTERIOR & APPLIED ART</span></span></span></span></a></li>
            <li><a href="/turquoise"><span class="sub_tit">8F</span><span class="tit"><span
                            class="chunk chunk1"><span class="chunk_child"><span class="item">K</span><span
                                    class="item">E</span><span class="item">E</span><span
                                    class="item">P</span></span></span><br class="sp"><span
                            class="space pc"></span><span class="chunk chunk2"><span class="chunk_child"><span
                                    class="item">T</span><span class="item">U</span><span class="item">R</span><span
                                    class="item">Q</span><span class="item">U</span><span class="item">O</span><span
                                    class="item">I</span><span class="item">S</span><span
                                    class="item">E</span></span></span><span class="space"></span><span
                            class="chunk chunk3"><span class="chunk_child"><span class="item">S</span><span
                                    class="item">E</span><span class="item">A</span></span></span></span></a></li>
            <li><a href="/pink"><span class="sub_tit">7F</span><span class="tit"><span
                            class="chunk chunk1"><span class="chunk_child"><span class="item">I</span><span
                                    class="item">N</span></span></span><span class="space"></span><span
                            class="chunk chunk2"><span class="chunk_child"><span class="item">P</span><span
                                    class="item">I</span><span class="item">N</span><span
                                    class="item">K</span></span></span><span class="space"></span><span
                            class="chunk chunk3"><span class="chunk_child"><span class="item">F</span><span
                                    class="item">L</span><span class="item">O</span><span class="item">W</span><span
                                    class="item">E</span><span class="item">R</span></span></span></span></a></li>
        </ul>
        <div class="scroll">SCROLL</div>
        <div class="cp">©Department of IT.</div>
    </div>
    <div id="transition_from_hero">
        <div class="imgs">
            <picture class="img1">
                <source media="(max-width: 767px)" srcset="/assets/img/common/kv/sp/pink_kv.webp 2x"
                    type="image/webp">
                <source media="(min-width: 768px)" srcset="/assets/img/common/kv/pink_kv.webp 2x"
                    type="image/webp"><img src="/assets/img/common/kv/pink_kv.jpg"
                    srcset="/assets/img/common/kv/pink_kv.jpg 2x" alt="">
            </picture>
            <picture class="img2">
                <source media="(max-width: 767px)"
                    srcset="/assets/img/common/kv/sp/turquoise_kv.webp 2x" type="image/webp">
                <source media="(min-width: 768px)"
                    srcset="/assets/img/common/kv/turquoise_kv.webp 2x" type="image/webp"><img
                    src="/assets/img/common/kv/turquoise_kv.jpg"
                    srcset="/assets/img/common/kv/turquoise_kv.jpg 2x" alt="">
            </picture>
            <picture class="img3">
                <source media="(max-width: 767px)"
                    srcset="/assets/img/common/kv/sp/orange_kv.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="/assets/img/common/kv/orange_kv.webp 2x"
                    type="image/webp"><img src="/assets/img/common/kv/orange_kv.jpg"
                    srcset="/assets/img/common/kv/orange_kv.jpg 2x" alt="">
            </picture>
            <picture class="img4">
                <source media="(max-width: 767px)" srcset="/assets/img/common/kv/sp/navy_kv.webp 2x"
                    type="image/webp">
                <source media="(min-width: 768px)" srcset="/assets/img/common/kv/navy_kv.webp 2x"
                    type="image/webp"><img src="/assets/img/common/kv/navy_kv.jpg"
                    srcset="/assets/img/common/kv/navy_kv.jpg 2x" alt="">
            </picture>
            <picture class="img5">
                <source media="(max-width: 767px)" srcset="/assets/img/common/kv/sp/black_kv.webp 2x"
                    type="image/webp">
                <source media="(min-width: 768px)" srcset="/assets/img/common/kv/black_kv.webp 2x"
                    type="image/webp"><img src="/assets/img/common/kv/black_kv.jpg"
                    srcset="/assets/img/common/kv/black_kv.jpg 2x" alt="">
            </picture>
        </div>
    </div>
    <div id="transition_common"><span></span><span></span><span></span><span></span><span></span></div>
    <div id="wrap">
        <header>
            <h2 class="logo"><a class="no-barba" href="/index"></a></h2>
            <div class="grill"><span></span><span></span></div>
            <div class="menu">
                <div class="bg"><span></span><span></span><span></span><span></span><span></span></div>
                <h3 class="logo"><a class="no-barba" href="/index"></a></h3>
                <nav class="main_nav">
                    <ul>
                        <li><a href="/index"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item"></span><span
                                                class="item"></span><span class="item"></span><span
                                                class="item"></span><span
                                                class="item"></span></span></span></span><span
                                    class="sub_tit"></span></a></li>
                        <li><a href="/black"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">M BUILDING</span></span></span></span><span
                                    class="sub_tit">2<span>L</span></span></a></li>
                        <li><a href="/navy"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">H BUILDING</span></span></span></span><span
                                    class="sub_tit">3<span>R</span></span></a></li>
                        <li><a href="/index"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">INTERIOR & APPLIED ART</span></span></span></span><span
                                    class="sub_tit">1<span>L</span></span></a></li>
                        <li><a href="/turquoise"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">I BUILDING</span></span></span></span><span
                                    class="sub_tit">2<span>R</span></span></a></li>
                        <li><a href="/pink"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">ART GALLERY</span></span></span></span><span
                                    class="sub_tit">1<span>R</span></span></a></li>
                    </ul>
                </nav>
                <div class="color_palette"><span class="palette1"></span><span class="palette2"></span><span
                        class="palette3"></span><span class="palette4"></span><span class="palette5"></span></div>
                <div class="to_top_btn"><a href="/index">TOP PAGE</a></div>
                <div class="to_corporate_btn"><a class="no-barba" href="/index"></a></div>
                <div class="cp">©Department of IT.</div>
                <div class="imgs"><img class="img1 show" src="/assets/img/common/kv/pink_kv.webp" alt=""><img
                        class="img2" src="/assets/img/common/kv/turquoise_kv.webp" alt=""><img class="img3"
                        src="/assets/img/common/kv/orange_kv.webp" alt=""><img class="img4"
                        src="/assets/img/common/kv/navy_kv.webp" alt=""><img class="img5"
                        src="/assets/img/common/kv/black_kv.webp" alt=""><img class="img6"
                        src="/assets/img/common/kv/about_kv.webp" alt=""></div>
            </div>
        </header>
        <div class="scroll-wrapper">
            <div id="barba-wrapper">
                <main class="floor floor9 barba-container" data-namespace="floor9">
                    <div class="section_wrap">
                        <section class="section section_kv">
                            <div class="img main_img">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/common/kv/sp/orange_kv.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/common/kv/orange_kv.webp 2x"
                                        type="image/webp"><img src="/assets/img/common/kv/orange_kv.jpg"
                                        srcset="/assets/img/common/kv/orange_kv.jpg 2x" alt="">
                                </picture>
                            </div>
                            <h2><span class="sub_tit">1<span>L</span></span><span class="tit"><span
                                        class="chunk chunk1"><span class="chunk_child"><span class="item">INTERIOR & APPLIED ART</span></span></span></span></h2>
                            <div class="text"><span class="item"></span><span class="item"></span><span
                                    class="item">The office of the Department of Interior Design</span></div>
                            <div class="scroll">SCROLL</div>
                        </section>
                        <section class="section section1">
                            <div class="bg"></div>
                            <div class="img img_motion">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building1.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building1.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building1.webp"
                                        srcset="/assets/img/floors/ia_building1.webp 2x" alt="">
                                </picture>
                            </div>
                            <h2 class="h2_motion"><span class="tit"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">VIBRANT SPACES,</span></span></span><br><span
                                        class="chunk chunk2"><span class="chunk_child"><span class="item">CREATIVE DESIGNS</span></span></span></span></h2>
                            <div class="floor_info"><span class="sub_tit">1L</span><span class="tit">INTERIOR & APPLIED ART</span>
                            </div>
                            <div class="text font2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum bibendum sagittis. Fusce eu orci nisi. Duis vehicula nulla eu lacus volutpat aliquam. In sit amet augue vitae lacus hendrerit suscipit ac sed nisi. Nulla vehicula, lacus quis venenatis convallis, felis lorem maximus arcu, ac bibendum sem ipsum et lorem. Suspendisse tincidunt, urna aliquet consequat vestibulum, dolor nisl tincidunt erat, porta sagittis felis nulla a dolor. Integer vitae dapibus augue, ac elementum risus.
                            </div>
                            <div class="img2">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building2.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building2.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building2.webp"
                                        srcset="/assets/img/floors/ia_building2.webp 2x" alt="">
                                </picture>
                            </div>
                            <div class="video"> <picture>
                                <source media="(max-width: 767px)"
                                    srcset="/assets/img/floors/sp/ia_building3.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 768px)"
                                    srcset="/assets/img/floors/ia_building3.webp 2x"
                                    type="image/webp"><img src="/assets/img/floors/ia_building3.webp"
                                    srcset="/assets/img/floors/ia_building3.webp 2x" alt="">
                            </picture></div><!----------------------------------------------------------------------------------------------------->
                        </section>
                        <section class="section section2">
                            <div class="bg"></div>
                            <div class="bg_img">
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/1x/ia_building_bg.webp, /assets/img/floors/2x/ia_building_bg@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/1x/ia_building_bg.webp"
                                        srcset="/assets/img/floors/1x/ia_building_bg.webp, /assets/img/floors/2x/ia_building_bg@2x.webp 2x"
                                        alt="">
                                </picture>
                            </div>
                            <h2 class="h2_motion"><span class="tit tit_sub_color"><span class="chunk chunk1"><span
                                            class="chunk_child"><span class="item">DREAMS</span></span></span><br><span
                                        class="chunk chunk3"><span class="chunk_child"><span class="item"></span><span
                                                class="item">IN ORANGE</span></span></span></span></h2>
                            <div class="img main_img img_motion">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building4.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building4.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building4.webp"
                                        srcset="/assets/img/floors/ia_building4.webp 2x" alt="">
                                </picture>
                            </div>
                            <div class="text font2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum bibendum sagittis. Fusce eu orci nisi. Duis vehicula nulla eu lacus volutpat aliquam. In sit amet augue vitae lacus hendrerit suscipit ac sed nisi. Nulla vehicula, lacus quis venenatis convallis, felis lorem maximus arcu, ac bibendum sem ipsum et lorem. Suspendisse tincidunt, urna aliquet consequat vestibulum, dolor nisl tincidunt erat, porta sagittis felis nulla a dolor. Integer vitae dapibus augue, ac elementum risus.</div>
                            <div class="img2">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building5.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building5.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building5.webp"
                                        srcset="/assets/img/floors/ia_building5.webp 2x" alt="">
                                </picture>
                            </div>
                            <div class="video"><picture>
                                <source media="(max-width: 767px)"
                                    srcset="/assets/img/floors/sp/ia_building6.webp 2x"
                                    type="image/webp">
                                <source media="(min-width: 768px)"
                                    srcset="/assets/img/floors/ia_building6.webp 2x"
                                    type="image/webp"><img src="/assets/img/floors/ia_building6.webp"
                                    srcset="/assets/img/floors/ia_building6.webp 2x" alt="">
                            </picture></div>
                            <div class="img4">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building7.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building7.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building7.webp"
                                        srcset="/assets/img/floors/ia_building7.webp 2x" alt="">
                                </picture>
                            </div>
                            <div class="img3">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building8.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building8.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building8.webp"
                                        srcset="/assets/img/floors/ia_building8.webp 2x" alt="">
                                </picture>
                            </div>
                            <div class="img5 img_motion">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/sp/ia_building9.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/floors/ia_building9.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/ia_building9.webp"
                                        srcset="/assets/img/floors/ia_building9.webp 2x" alt="">
                                </picture>
                            </div>
                        </section>
                        <a class="no-barba" href="/orange/3dBuilding_IA"><section class="section section3">
                            <h2 class="h2_motion"><span class="tit"><span class="chunk chunk1"><span
                                class="chunk_child"><span class="item">3D MODELS</span></span></span></span>
                </h2>
                <div class="text font2">Nhấn vào đây để chiêm ngưỡng mô hình hiện thực ảo của tòa nhà</div>
                            <div class="imgs">
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat1.webp, /assets/img/floors/materials/2x/floor9_mat1@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat1.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat1.jpg, /assets/img/floors/materials/2x/floor9_mat1@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat2.webp, /assets/img/floors/materials/2x/floor9_mat2@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat2.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat2.jpg, /assets/img/floors/materials/2x/floor9_mat2@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat3.webp, /assets/img/floors/materials/2x/floor9_mat3@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat3.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat3.jpg, /assets/img/floors/materials/2x/floor9_mat3@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat4.webp, /assets/img/floors/materials/2x/floor9_mat4@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat4.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat4.jpg, /assets/img/floors/materials/2x/floor9_mat4@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat5.webp, /assets/img/floors/materials/2x/floor9_mat5@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat5.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat5.jpg, /assets/img/floors/materials/2x/floor9_mat5@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat6.webp, /assets/img/floors/materials/2x/floor9_mat6@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat6.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat6.jpg, /assets/img/floors/materials/2x/floor9_mat6@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat7.webp, /assets/img/floors/materials/2x/floor9_mat7@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat7.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat7.jpg, /assets/img/floors/materials/2x/floor9_mat7@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat8.webp, /assets/img/floors/materials/2x/floor9_mat8@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat8.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat8.jpg, /assets/img/floors/materials/2x/floor9_mat8@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat9.webp, /assets/img/floors/materials/2x/floor9_mat9@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat9.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat9.jpg, /assets/img/floors/materials/2x/floor9_mat9@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat10.webp, /assets/img/floors/materials/2x/floor9_mat10@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat10.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat10.jpg, /assets/img/floors/materials/2x/floor9_mat10@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat11.webp, /assets/img/floors/materials/2x/floor9_mat11@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat11.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat11.jpg, /assets/img/floors/materials/2x/floor9_mat11@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat12.webp, /assets/img/floors/materials/2x/floor9_mat12@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat12.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat12.jpg, /assets/img/floors/materials/2x/floor9_mat12@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat13.webp, /assets/img/floors/materials/2x/floor9_mat13@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat13.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat13.jpg, /assets/img/floors/materials/2x/floor9_mat13@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat14.webp, /assets/img/floors/materials/2x/floor9_mat14@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat14.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat14.jpg, /assets/img/floors/materials/2x/floor9_mat14@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat15.webp, /assets/img/floors/materials/2x/floor9_mat15@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat15.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat15.jpg, /assets/img/floors/materials/2x/floor9_mat15@2x.jpg 2x"
                                        alt="">
                                </picture>
                                <picture>
                                    <source
                                        srcset="/assets/img/floors/materials/1x/floor9_mat16.webp, /assets/img/floors/materials/2x/floor9_mat16@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/materials/1x/floor9_mat16.jpg"
                                        srcset="/assets/img/floors/materials/1x/floor9_mat16.jpg, /assets/img/floors/materials/2x/floor9_mat16@2x.jpg 2x"
                                        alt="">
                                </picture>
                            </div>
                        </section>
                        <section class="section next">
                            <div class="next_text">NEXT FLOOR</div>
                            <h2><span class="sub_tit">3<span>R</span></span><span class="tit"><span
                                        class="chunk chunk1"><span class="chunk_child"><span class="item">H BUILDING</span></span></span></span></h2>
                            <div class="more_btn"><a href="/navy">More Details</a></div>
                            <div class="back_to_top_btn"><a href="/index">BACK TO TOP</a></div>
                            <div class="img img_motion">
                                <picture>
                                    <source media="(max-width: 767px)"
                                        srcset="/assets/img/floors/1x/sp/floor9_next.webp, /assets/img/floors/2x/sp/floor9_next@2x.webp 2x"
                                        type="image/webp">
                                    <source media="(min-width: 768px)"
                                        srcset="/assets/img/common/kv/navy_kv.webp, /assets/img/floors/2x/navy_kv@2x.webp 2x"
                                        type="image/webp"><img src="/assets/img/floors/1x/floor9_next.jpg"
                                        srcset="/assets/img/floors/1x/floor9_next.jpg, /assets/img/floors/2x/floor9_next@2x.jpg 2x"
                                        alt="">
                                </picture>
                            </div>
                        </section>
                    </div>
                </main>
            </div>
        </div>
        <footer></footer>
    </div>
    <script
        src="///polyfill.io/v3/polyfill.minea24.js?features=es6&amp;default%2CArray.prototype.find%2CIntersectionObserver"
        crossorigin="anonymous" defer="defer"></script>
    <script src="/assets/js/libs/barba.js"></script>
    <script src="/assets/js/bundled.mainscript.js"></script>
</body>

</html>